/* ======================================================
Slider Animation
======================================================= */
#slider .carousel-caption h1 {
	animation-delay: 0.2s;
	animation-duration: 1s;
	opacity:0
}
#slider .carousel-caption p {
	animation-delay: 0.6s;
	animation-duration: 1s;
	opacity:0;
}
.carousel-caption li {
	opacity:0;
	padding-bottom: 10px;
}
.carousel-caption li:nth-child(1) {
	animation-delay: 1s;
	animation-duration: 1s;
}
.carousel-caption li:nth-child(2) {
	animation-delay: 1.1s;
	animation-duration: 1s;
}
.carousel-caption li:nth-child(3) {
	animation-delay: 1.2s;
	animation-duration: 1s;
}
.carousel-caption .btn-slid{
	animation-delay: 1.3s;
	animation-duration: 1s;
	opacity:0;
}
#slider .item.active .carousel-caption p, 
#slider .item.active .carousel-caption h1, 
#slider .item.active .carousel-caption li:nth-child(1),
#slider .item.active .carousel-caption li:nth-child(2),
#slider .item.active .carousel-caption li:nth-child(3) {
    animation-name: fadeInUp;
}
#slider .item.active .carousel-caption p, 
#slider .item.active .carousel-caption h1, 
#slider .item.active .carousel-caption li:nth-child(1),
#slider .item.active .carousel-caption li:nth-child(2),
#slider .item.active .carousel-caption li:nth-child(3){
	animation-duration: 1s;
	animation-fill-mode: both;
	opacity:1
}


#slider .item.active .carousel-caption .btn-slid {
    animation-name: fadeInUp;
}
#slider .item.active .carousel-caption .btn-slid {
	animation-duration: 1s;
	animation-fill-mode: both;
	opacity:1
}
/* ======================================================
	Nav Fix Animation
========================================================= */

.navbar-nav,
.navbar-default .navbar-nav > li > a{
	 transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
.navbar-fixed-top.small{
	transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn_df,
.btn_info{
	transition: 0.5s;
}
/* ======================================================
	widget Animation
========================================================= */
#slider a .fa,
.btn_info,
.price_table,
.gallery-section .filter-btns li:hover,
.gallery-section .filter-btns li.active,
.service_iconprice .ser_icon,
.service_iconprice .ser_price,
.service_content,
.service_widget:hover .service_content h3,
.serimg_overlay,
.default-portfolio-item .overlay-box,
.blog_thumb:hover .blog_overlay,
.socal_icon ul li:hover,
.socal_icon ul li a:hover{
	transition: all 500ms ease;
 	-moz-transition: all 500ms ease;
 	-ms-transition: all 500ms ease;
 	-o-transition: all 500ms ease;
 	-webkit-transition: all 500ms ease;
}

.team_widget:hover .member_data{
	transition: all 10ms ease-out;
 	-moz-transition: all 10ms ease-out;
 	-ms-transition: all 10ms ease-out;
 	-o-transition: all 10ms ease-out;
 	-webkit-transition: all 10ms ease-out;
}
.service_widget:hover,
.team_widget:hover .team_image .member_data,
.team_widget:hover .member_content p,
.filter-btns li:hover{
	transition: all 400ms ease-in;
 	-moz-transition: all 400ms ease-in;
 	-ms-transition: all 400ms ease-in;
 	-o-transition: all 400ms ease-in;
 	-webkit-transition: all 400ms ease-in;
}
.team_widget:hover,
.team_widget:hover .team_image .teamimg_overlay{
	transition: all 300ms linear;
 	-moz-transition: all 300ms linear;
 	-ms-transition: all 300ms linear;
 	-o-transition: all 300ms linear;
 	-webkit-transition: all 300ms linear;
}
.contact_info:hover .contact_icon{
	transition: all 300ms ease-in-out;
 	-moz-transition: all 300ms ease-in-out;
 	-ms-transition: all 300ms ease-in-out;
 	-o-transition: all 300ms ease-in-out;
 	-webkit-transition: all 300ms ease-in-out;
}
.default-portfolio-item .overlay-box .arrow span i.fa:hover,
.filter-btns li{
	transition:all 0.6s ease 0s;
	-webkit-transition:all 0.6s ease 0s;
	-moz-transition:all 0.6s ease 0s;
	-o-transition:all 0.6s ease 0s;
	-ms-transition:all 0.6s ease 0s;
}
.default-portfolio-item .overlay-box{
	-webkit-transform:scale(0,0);
	-ms-transform:scale(0,0);
	-moz-transform:scale(0,0);
	-o-transform:scale(0,0);
	transform:scale(0,0);
	-webkit-transition:all 400ms ease-out;
	-ms-transition:all 400ms ease-out;
	-o-transition:all 400ms ease-out;
	-moz-transition:all 400ms ease-out;
	transition:all 400ms ease-out;
}
.default-portfolio-item:hover .overlay-box{
	-webkit-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
	-moz-transform:scale(1,1);
	transform:scale(1,1);
	opacity:1;
	visibility:visible;	
}