.YouTubePopUp-Wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	z-index: 99999;
}
.YouTubePopUp-Content {
	max-width: 680px;
	display: block;
	margin: 0 auto;
	height: 100%;
	position: relative;
	background: url(../images/ajax-loader.gif) no-repeat;
	background-position: center center;
}
.YouTubePopUp-Close {
	position: absolute;
	top: 0;
	cursor: pointer;
	bottom: 528px;
	right: 0px;
	margin: auto 0;
	width: 24px;
	height: 24px;
	background: url(../images/close.html) no-repeat;
	background-size: 24px 24px;
	-webkit-background-size: 24px 24px;
	-moz-background-size: 24px 24px;
	-o-background-size: 24px 24px;
}
.YouTubePopUp-Content iframe {
	max-width: 100% !important;
	width: 100% !important;
	display: block !important;
	height: 480px !important;
	border: none !important;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}