/* ======================================================================
 Color Default
======================================================================= */
#slider .carousel-caption h1 span,
.section_title h2,
.blog_title a,
.client_name h6,
.comment_title h2,
.comment_text h5,
.comment_box h2,
.service_content h3,
.join_content h3,
.video h4,
.info h4,
.share_icon ul li a:hover,
.banner_nav li.active,
.latestpt_title h2,
.Categories ul li a:hover,
.latestpt_title a:hover,
#contact-form h3,
strong span{
  color: #ff0000
}
.gallery-section .filter-btns li{
  border-color: #0038ff;
  color:#ff0000;
}
.form-control{
  color: #999999;
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
}
/* ======================================================================
 Color Primary
======================================================================= */
.btn_link{
  color: #0038ff !important;
}
.blog_info span .fa,
.video .flaticon-play-button::before,
.blog_title a:hover{
  color:  #0038ff
}
.contact_icon {
    background-color:  #0038ff ;
    border:1px solid  #0038ff;
    color: #ffffff;
}
.contact_info:hover .contact_icon{
  border:1px solid  #0038ff ;
  color:  #0038ff;
  background-color: transparent;
}
/* ======================================================================
 Color Secondery
======================================================================= */
body,
p,
.navbar-collapse ul.nav li a.active,
.member_content p,
.member_data h4,
.member_data span,
.blog_info a,
.info p,
.coppyright_area span,
.share_icon,
.share_icon ul li a,
.comment_text span,
.latestpt_title a,
.Categories ul li a,
.close{
  color:#2a2a2a;
}
.btn_link:hover,
.service_widget:hover .service_content h3,
.service_widget:hover .service_content p{
  color:#2a2a2a !important;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #2a2a2a;
  background-color: transparent;
}
.socal_icon ul li:hover{
  color: #2a2a2a;
  background-color: transparent;
  border:1px solid #ff0000;
}
.price_list ul li{
  color: #2a2a2a;
  border-bottom: 1px solid #ffffff;
}
/* ======================================================================
 Color White
======================================================================= */
.navbar-default .navbar-nav > li > a,
#slider .carousel-caption,
#slider .carousel-caption p,
.carousel-caption li,
.navbar-collapse ul.nav li a:hover,
.banner_nav li a{
  color: #ffffff
}
.default-portfolio-item .overlay-box .arrow,
.team_image .member_data span,
.socal_icon ul li a,
.join_content p,
.price,
.bannar_area h2{
  color: #f0f0f0;
}
#blogpost .blog_textarea blockquote p{
  border-left: 5px solid #f0f0f0;
  color: #f0f0f0;
}
/* ======================================================================
 Background Color Default
======================================================================= */ 
.owl-theme .owl-dot.active span,
.cssload-loader .cssload-side{
  background-color:#ff0000 !important;
}  
/* ======================================================================
 Background Color Primary
======================================================================= */
.socal_icon ul li{
  background:  #0038ff;
  border:1px solid #ff0000;
}
/* ======================================================================
  Background Color Secondery
======================================================================= */
.Price_category{
  background-color: #2a2a2a;
    color: #ff0000;
}
.tags a{
  background-color: #2a2a2a;
  color: #f0f0f0;
}
.form-control:focus {
    border-color: #2a2a2a;
}
 .overlay,
 .bgoverlay:before {
  background:rgba(0, 0, 0,.3);
} 
.modal{
  background: rgba(0,0,0,.8);
}
/* ======================================================================
  Background Color White
======================================================================= */
#services,
#our_team,
.blog_thumb,
#consumer,
#contact,
.widget{
  background-color: #f9f9f9;
}
.service_widget,
.navbar-default .navbar-toggle .icon-bar,
.team_widget{
  background-color: #ffffff;
}
/* ======================================================================
  Background Color Gradient
======================================================================= */
  .btn_dafault,
  .btn_info{
  background-image: linear-gradient(to right,  #0038ff 0%, #ffe592 51%, #ff0000 100%);
}
.on-panel,
.nav-scroll,
.service_widget:hover,
.team_widget:hover,
#copyright,
.price,
.price_table:hover,
#scroll{
  background: linear-gradient(to right,  #0038ff 0%, #ff0000 100%);
}
#slider a:hover .fa,
.date,
.tags a:hover{
  color: #2a2a2a;
  background: linear-gradient(to right,  #0038ff 0%, #ff0000 100%);
}
.gallery-section .filter-btns li:hover,
.gallery-section .filter-btns li.active{
  border-color:#ff0000;
  color:#ffffff;
  background: linear-gradient(to right,  #0038ff 0%, #ff0000 100%);
}
.service_iconprice .ser_icon,
.service_iconprice .ser_price{
  color: #ffffff;
  background: linear-gradient(to right,  #0038ff 0%, #ff0000 100%);
}
.serimg_overlay,
.blog_thumb:hover .blog_overlay,
.default-portfolio-item .overlay-box,
.price_table{
  background: linear-gradient(to right, rgba(0,56,255,.3) 0%,rgba(255,0,0,.3) 100%);
  background: -moz-linear-gradient(to right, rgba(0,56,255,.3) 0%, rgba(255,0,0,.3) 100%);
  background: -webkit-linear-gradient(to right, rgba(0,56,255,.3) 0%,rgba(255,0,0,.3) 100%);
}
.team_image .teamimg_overlay{
  background: linear-gradient(to right, rgba(0,56,255,.7) 0%,rgba(255,0,0,.7) 100%);
  background: -moz-linear-gradient(to right, rgba(0,56,255,.7) 0%, rgba(255,0,0,.7) 100%);
  background: -webkit-linear-gradient(to right, rgba(0,56,255,.7) 0%,rgba(255,0,0,.7) 100%);
}
/* ======================================================================
  color css
======================================================================= */
#scroll:hover{
  color: #ffffff;
  background: #2a2a2a
}
#slider a .fa{
  color: #2a2a2a;
  background: #f0f0f0
}
blockquote{
  background-color: #515151;
}
.comment,
.Categories ul li{
  border-bottom: 1px solid #dad8d8;
}
select{
  border: 1px solid #c7c7c7;
  color: #999999;
}
.input-group-addon{
  color: #999999;
}
