/* ======================================================================
 Color Default
======================================================================= */
#slider .carousel-caption h1 span,
.section_title h2,
.blog_title a,
.client_name h6,
.comment_title h2,
.comment_text h5,
.comment_box h2,
.service_content h3,
.join_content h3,
.video h4,
.info h4,
.share_icon ul li a:hover,
.banner_nav li.active,
.latestpt_title h2,
.Categories ul li a:hover,
.latestpt_title a:hover,
#contact-form h3,
strong span{
  color: {primary-color}
}
.gallery-section .filter-btns li{
  border-color: {secondary-color};
  color:{primary-color};
}
.form-control{
  color: {bg-color};
    background-color: {white-bg-color};
    border: 1px solid {bg-color2};
}
/* ======================================================================
 Color Primary
======================================================================= */
.btn_link{
  color: {secondary-color} !important;
}
.blog_info span .fa,
.video .flaticon-play-button::before,
.blog_title a:hover{
  color:  {secondary-color}
}
.contact_icon {
    background-color:  {secondary-color} ;
    border:1px solid  {secondary-color};
    color: {white-bg-color};
}
.contact_info:hover .contact_icon{
  border:1px solid  {secondary-color} ;
  color:  {secondary-color};
  background-color: transparent;
}
/* ======================================================================
 Color Secondery
======================================================================= */
body,
p,
.navbar-collapse ul.nav li a.active,
.member_content p,
.member_data h4,
.member_data span,
.blog_info a,
.info p,
.coppyright_area span,
.share_icon,
.share_icon ul li a,
.comment_text span,
.latestpt_title a,
.Categories ul li a,
.close{
  color:{black-color};
}
.btn_link:hover,
.service_widget:hover .service_content h3,
.service_widget:hover .service_content p{
  color:{black-color} !important;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: {black-color};
  background-color: transparent;
}
.socal_icon ul li:hover{
  color: {black-color};
  background-color: transparent;
  border:1px solid {primary-color};
}
.price_list ul li{
  color: {black-color};
  border-bottom: 1px solid {white-bg-color};
}
/* ======================================================================
 Color White
======================================================================= */
.navbar-default .navbar-nav > li > a,
#slider .carousel-caption,
#slider .carousel-caption p,
.carousel-caption li,
.navbar-collapse ul.nav li a:hover,
.banner_nav li a{
  color: {white-bg-color}
}
.default-portfolio-item .overlay-box .arrow,
.team_image .member_data span,
.socal_icon ul li a,
.join_content p,
.price,
.bannar_area h2{
  color: {white-bg-color2};
}
#blogpost .blog_textarea blockquote p{
  border-left: 5px solid {white-bg-color2};
  color: {white-bg-color2};
}
/* ======================================================================
 Background Color Default
======================================================================= */ 
.owl-theme .owl-dot.active span,
.cssload-loader .cssload-side{
  background-color:{primary-color} !important;
}  
/* ======================================================================
 Background Color Primary
======================================================================= */
.socal_icon ul li{
  background:  {secondary-color};
  border:1px solid {primary-color};
}
/* ======================================================================
  Background Color Secondery
======================================================================= */
.Price_category{
  background-color: {black-color};
    color: {primary-color};
}
.tags a{
  background-color: {black-color};
  color: {white-bg-color2};
}
.form-control:focus {
    border-color: {black-color};
}
 .overlay,
 .bgoverlay:before {
  background:rgba(0, 0, 0,.3);
} 
.modal{
  background: rgba(0,0,0,.8);
}
/* ======================================================================
  Background Color White
======================================================================= */
#services,
#our_team,
.blog_thumb,
#consumer,
#contact,
.widget{
  background-color: {white-bg-color3};
}
.service_widget,
.navbar-default .navbar-toggle .icon-bar,
.team_widget{
  background-color: {white-bg-color};
}
/* ======================================================================
  Background Color Gradient
======================================================================= */
  .btn_dafault,
  .btn_info{
  background-image: linear-gradient(to right,  {secondary-color} 0%, {tertiary-color} 51%, {primary-color} 100%);
}
.on-panel,
.nav-scroll,
.service_widget:hover,
.team_widget:hover,
#copyright,
.price,
.price_table:hover,
#scroll{
  background: linear-gradient(to right,  {secondary-color} 0%, {primary-color} 100%);
}
#slider a:hover .fa,
.date,
.tags a:hover{
  color: {black-color};
  background: linear-gradient(to right,  {secondary-color} 0%, {primary-color} 100%);
}
.gallery-section .filter-btns li:hover,
.gallery-section .filter-btns li.active{
  border-color:{primary-color};
  color:{white-bg-color};
  background: linear-gradient(to right,  {secondary-color} 0%, {primary-color} 100%);
}
.service_iconprice .ser_icon,
.service_iconprice .ser_price{
  color: {white-bg-color};
  background: linear-gradient(to right,  {secondary-color} 0%, {primary-color} 100%);
}
.serimg_overlay,
.blog_thumb:hover .blog_overlay,
.default-portfolio-item .overlay-box,
.price_table{
  background: linear-gradient(to right, rgba({grad2},.3) 0%,rgba({grad1},.3) 100%);
  background: -moz-linear-gradient(to right, rgba({grad2},.3) 0%, rgba({grad1},.3) 100%);
  background: -webkit-linear-gradient(to right, rgba({grad2},.3) 0%,rgba({grad1},.3) 100%);
}
.team_image .teamimg_overlay{
  background: linear-gradient(to right, rgba({grad2},.7) 0%,rgba({grad1},.7) 100%);
  background: -moz-linear-gradient(to right, rgba({grad2},.7) 0%, rgba({grad1},.7) 100%);
  background: -webkit-linear-gradient(to right, rgba({grad2},.7) 0%,rgba({grad1},.7) 100%);
}
/* ======================================================================
  color css
======================================================================= */
#scroll:hover{
  color: {white-bg-color};
  background: {black-color}
}
#slider a .fa{
  color: {black-color};
  background: {white-bg-color2}
}
blockquote{
  background-color: {black-color2};
}
.comment,
.Categories ul li{
  border-bottom: 1px solid {bg-color3};
}
select{
  border: 1px solid {bg-color2};
  color: {bg-color};
}
.input-group-addon{
  color: {bg-color};
}
