/**
	
* Template Name: Beautyqueen - Spa and Beauty Salon HTML5 Template
* Version: 1.0.5
* Author: themetrading
* Email: themetrading@gmail.com
* Developed By: themetrading
* First Release: 30 September 2018
* Author URL: www.themetrading.com

**/

/*===================================================
Table of CSS Content arrage with every section name
=====================================================
01.	Default Css
02. Button set
03.	Section Title
04.	Menu
05. About Us Section
06. Services Section
07. Our Gallery 
08. Our Team
09. Join Us Section
10. Our Price Section
11. Our Video Section
12. Our Blog Section
13. Our Clients Section
14. Map And Contact Sectiot
15. Contact Info Section
16. Footer
17. Banner Section
18. Left Sidebar
19.	Scroll Top
/*=============================================================
	Animation Links
=================================================================*/
@import url('animate.min.css');
@import url('jquery.fancybox.min.css');
@import url('owl.css');
/*==================================================================
 	Typography links 
 	Import Google Fonts
 ==================================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet');

/*====================================================================
01.	Default Css
======================================================================*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:400;
	vertical-align: middle;
	overflow-x: hidden;
	position:relative;
}
body.modal-open{
	padding: 0px !important;
}
.navbar-default .navbar-nav>li>a {
    color: #f0f0f0;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
	color:#f0f0f0;
	background-color:transparent;
	text-decoration:none;
	outline:none;
}
a{
	text-decoration:none;
	cursor:pointer;
	line-height:24px;
	font-size:14px;
	font-family: 'Raleway', sans-serif;
}
a:hover,a:visited,a:active,a:link{
	text-decoration:none !important;
	color:#2a2a2a;
}
ul, li{
	list-style-type:none;
	padding:0;
	margin:0
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
img{
	display: block;
	width: 100%;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-family: 14px;
	line-height: 26px;
	margin: 0;
}
#header {
	padding: 0;
	left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    animation-fill-mode: both;
}
.py_80{
	padding:80px 0px !important;
}
#map_contact .section_title{
	padding-top: 80px;
}
.gallery-section .filter-btns li,
.blog_title a,.socal_icon ul li a,
.contact_info h4,.price{
	color: #2a2a2a !important;
}
.navbar{
	border-radius: 0;
}
/*=========================================================================
02.	Default Button css
===========================================================================*/
.btn_df{
	background-size: 200% auto;
	display: inline-block;
    padding: 10px 30px;
	margin-right:15px;
    margin-bottom: 0;
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
	text-transform:capitalize;
    text-align: center;
	letter-spacing:2px;
    vertical-align: middle;
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
	color:#fff !important;
}
.btn_df:hover{
	  background-position: right center; /* change the direction of the change here */
	  color:#fff;
}
.btn_info{
	width:100%;
}
.on-panel .fa{
    font-size: 26px;
    margin: 0 auto;
    display: table;
    padding: 9px 0;
}
/*===============================================================================
03.		Section Title
================================================================================= */

.section_title{
	text-align: center;
	padding-bottom:60px;
}
.section_title h2{
	text-transform: uppercase;
	font-size: 24px;
	line-height: 42px;
	font-weight: 900;
	margin-bottom: 5px;
}
.section_title p{
	width: 50%;
	font-size: 14px;
	line-height: 26px;
	font-style: italic;
	font-weight: 600;
	display: inline-block;
}
/*============================================================== 
04.	 	Menu 
================================================================*/
.nav-scroll{
    background: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
    left: 0;
    padding: 0;
    position: fixed;
    top: -100px;
    transform: translateY(100px);
    transition: transform .5s;
    width: 100%;
    z-index: 100;
}

.navbar-brand{
	padding:13px 0px;
	display:table;
}
.navbar{
	border:none;
}
.main-page-content{
    width: 100%;
    height: 100%;
}
.menubar{
    height: auto;
    width: 100%;
}
.navbar{
    right: 0px;
    left: 0;
    z-index:111111;
    background-color:transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);

}
.navbar-nav {
    float: left;
    margin: 13px 0px;
    margin-right: 0px;
    opacity: 1;
}
.navbar-nav.show {
    opacity: 1.5;
}
.navbar-nav li {
    float: left;
}
.navbar-nav li:last-child{
	margin-right:0px;
}
.navbar-default .navbar-nav > li > a {
    letter-spacing: 2px;
}
.site-title {
    padding: 0px 0px;
}
.navbar-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* =======================================================================
05.		Slider Section
========================================================================== */
#slider{
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-size: cover;
    overflow: hidden;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.carousel-caption{
	text-shadow:none;
	top:50%;
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#slider .carousel-caption h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}
#slider .carousel-caption p {
    font-size: 16px;
    margin-bottom: 35px;
}
.carousel-control{
    position: absolute;
    bottom: 0;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: 1;
    top: 40%;
     transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.carousel-control.right {
    right: 37px;
    left: auto;
}
#slider a .fa{
	padding:30px 15px;
	font-size:22px;
	display:inline-block;
}
.bgoverlay{
	position: relative
}
.bgoverlay:before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%
}
/* =======================================================================
05.		About Us Section
========================================================================== */
.about_content p span{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	line-height: 24px;
}
.about_content p{
	margin-bottom: 50px;
}
.about_content .btn_primary{
	margin-right: 30px;
}
/*========================================================================
06.		Services Section 
========================================================================== */

#services{
	padding-bottom: 80px;
	margin-bottom: 0px;
}
.service_widget{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.service_img{
	position: relative;
} 
.service_iconprice .ser_icon,
.service_iconprice .ser_price{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
}
.service_iconprice [class^="flaticon-"]::before{
	font-size: 30px;
	margin: 0px;
}
.service_iconprice{
	position: relative;
}
.service_iconprice .ser_icon{
	position: absolute;
	top: 50%;
	left: 0px;
}
.service_iconprice .ser_price{
	position: absolute;
	top: 50%;
	right: 0px;
}
.service_iconprice .ser_icon,
.service_iconprice .ser_price{
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.service_content{
	padding: 30px 15px;
}
.service_content h3{
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.serimg_overlay{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.service_widget:hover .serimg_overlay{
	opacity: 1
}
/* ===========================================================================
07.		Our Gallery
============================================================================== */

.default-portfolio-item .image-box img{
	display:block;
	width:100%;	
}
.fancybox-skin {
    position: relative;
    background: transparent;
    color:#fff;
    text-shadow: none;
    border-radius: 0px;
}
.default-portfolio-item .overlay-box .inner-content{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	padding:20px 40px;
	display:table;
	vertical-align:middle;
	text-align:center;	
}
.filter-list .mix{
	display:none;	
}
.gallery-section .filters{
	position:relative;
	text-align:center;
	margin-bottom:50px;	
}

.gallery-section .filter-btns{
	position:relative;
	text-align:center;
}
.gallery-section .filter-btns li{
	position:relative;
	display:inline-table;
	padding:5px 20px;
	line-height:24px;
	border:1px solid;
	cursor:pointer;
	text-transform:uppercase;
	font-size:14px;
	margin-right:15px;
}
.default-portfolio-item .overlay-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
	opacity:0;
	visibility:hidden;
}
.default-portfolio-item .overlay-box span{
	position:absolute;
	left:0px;
	top:47%;
	width:100%;
	height:100%;
	display:table;
	vertical-align:middle;
	text-align:center;
}
.default-portfolio-item .overlay-box span i.fa{
    border: 2px solid;
    border-radius: 50%;
    padding: 3px 5px;
    text-align: center;
    font-size: 24px;
    color: #fff
}
/* ========================================================================================
08.	Our Team
=========================================================================================== */
#our_team{
	padding-bottom: 100px;
}
.team_widget{
	overflow: hidden;
	position: relative;
    border-radius: 135px 135px 0px 0px;
}
.team_image .member_data{
	position: absolute;
	top: 50%;
	overflow: hidden;
	opacity: 0;
	margin-left:0px;
	margin-right:0px;
	width:100%;
	height:auto;
	display: table;
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.team_image{
	position: relative;
}
.team_image .teamimg_overlay{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
}
.team_widget:hover .team_image .teamimg_overlay,
.team_widget:hover .team_image .member_data{
	opacity: 1;
	visibility: visible;
}
.team_widget:hover .member_data{
	visibility: hidden;
	opacity: 0;
}
.team_widget:hover .member_content p{
	display: block;
	opacity: 1
}
.member_content p{
    position: absolute;
    bottom: 0px;
    padding: 30px 15px;
    display: none;
    line-height: 20px;
}

.member_data{
	text-align: center;
	padding: 30px 15px;
}
.team_image img{
	border-radius: 50%;
	position: relative;
}
.member_data h4{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.member_data span{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.socal_icon{
	margin-top: 30px;
}
.socal_icon ul{
	margin: 0 auto;
	display: inline-block;
}
.socal_icon ul li{
    float: left;
    margin-right: 5px;
    width: 35px;
    height: 35px;
	cursor:pointer;
}
.socal_icon ul li a{
	line-height:35px;
}
/* ======================================================================
09.	 Join Us Section 
========================================================================= */ 

#join_us{
	background-image: url(../images/joinus.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.join_content h3{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.join_btn{
	float: right;
	line-height: 107px
}
/* ==========================================================================
10.	 Our Price Section 
============================================================================= */
.Price_category,
.price{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
.price{
	font-size:14px;
	text-transform:lowercase;
	font-weight:normal;
}
.price_list{
	padding-top:20px
}
.price_list ul li{
	font-size: 14px;
	font-weight: 500;
	padding: 10px 30px;
}
.price_list ul li:last-child{
	border-bottom: none;
	padding-bottom:20px;
}
/* ===========================================================================
11.	 Our Video Section 
============================================================================== */

.spa_video{
	background-image: url(../images/video.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 150px 0px;
	text-align: center;
}
.video h4{
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.video .flaticon-play-button::before{
	font-size: 70px;
	width: 80px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}
.video-popup{
	max-width: 680px;
	display: block;
	margin: 0 auto;
	height: 100%;
	position: relative;
	background: url(../images/fancybox/fancybox_loading.gif) no-repeat;
	background-position: center center;
}
/*================== popup css ==================*/

.YouTubePopUp-Wrap{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    top:0;
    left:0;
    z-index:9999999999999;
}

.YouTubePopUp-animation{
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.YouTubePopUp-Content{
    max-width:680px;
    display:block;
    margin:0 auto;
    height:100%;
    position:relative;
}

.YouTubePopUp-Content iframe{
    max-width:100% !important;
    width:100% !important;
    display:block !important;
    height:480px !important;
    border:none !important;
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.YouTubePopUp-Hide{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close{
    position:absolute;
    top:0;
    cursor:pointer;
    bottom:528px;
    right:0px;
    margin:auto 0;
    width:24px;
    height:24px;
    background:url(../images/close-white.png) no-repeat;
    background-size:24px 24px;
    -webkit-background-size:24px 24px;
    -moz-background-size:24px 24px;
    -o-background-size:24px 24px;
}

.YouTubePopUp-Close:hover{
    opacity:0.5;
}
/* ===============================================================================================
12.	  Our Blog Section
================================================================================================== */
.blog_data{
	position: relative;
}
.blog_data{
	padding: 30px;
	display: block;
}
.date{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding: 10px 40px;
	display: inline-block;
	position: absolute;
	top: -25px;
	left: 50%;
	 transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.blog_title a{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.blog_info{
	padding: 10px 0px 20px 0px;
	display: flow-root;
}
.blog_info span .fa{
	padding-right: 15px;
}
.blog_info .post_comment{
	float: right;
}
.blog_textarea{
	padding-bottom: 25px;
}
.blog_thumb:hover .blog_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* ====================================================================================
13.		Our Clients Section 
======================================================================================= */
#consumer{
	text-align: center;
}
#consumer{
	padding-bottom: 80px;
}
.testimonials-carousel .item{
	width: 70%;
	margin: 0 auto;
	text-align: center

}
#consumer .item{
	margin-bottom: 60px;
}
.avater{
	width: 90px;
	height: 90px;
	text-align: center;
	display: block;
	margin: 0 auto;
}
.client_name h6{
	padding: 20px 0px;
	font-weight: bold;
	font-size: 16px;
}
.feedback p{
	font-size: 14px;
	line-height: 24px;
}

/* =======================================================================================
14.		Map And Contact Sectiot
========================================================================================== */

.form-control{
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 24px;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
}

#map_contact .section_title p{
	width: 80%;
}
.form-control:focus {
    box-shadow: none;
}
.form-group {
    margin-bottom: 30px;
}
textarea.form-control {
    min-height: 150px;
    resize: none;
}
#map {
    height: 685px;
}
#contact-form{
	padding-bottom: 50px;
}
/* =================================================================================
15.		Contact Info Section
==================================================================================== */

#contact{
	padding: 40px 0px;
}
.contact_icon {
    width: 45px;
    height: 45px;
    font-size: 16px;
    line-height: 41px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.contact_info{
	display: inline-flex;
}
.info h4{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.info p{
	font-size: 14px;
}
.error-handel {
  bottom: -30px;
  display: table;
  height: 35px;
  left: 15px;
  margin: auto 0;
  position: absolute;
  text-align: left;
  width: 100%
}
#success, #error {
  display: none;
  line-height: 34px
}
#success {
	color: #31bb15
}
.contact_message .error {
	font-weight: 300;
	font-size: 13px;
	color: #f00;
	margin-bottom: 0;
}
.reservation_form h3{
	padding-bottom: 15px;
}
.reservation_form strong{
	font-size: 16px;
}
/* =========================================================================================
16.	Footer
============================================================================================ */

#copyright{
	padding: 20px 0px;
	text-align: center;
}
.coppyright_area span{
	font-size: 14px;
}
.coppyright_area span a{
	font-weight: 500;
}
/* =============================================================================================
	Blog Detail Page
================================================================================================
17.		Banner Section
================================================================================================ */

#Bannar{
	background-image: url(../images/bannar.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0
}
.bannar_area h2{
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}
.banner_nav{
	text-align: center
}
.banner_nav li {
	display: inline-block
}
#blogpost{
	padding-top: 100px;
	padding-bottom: 70px;
}
.single_post .blog_title a{
	font-size: 20px;
	line-height: 26px;
}
.blogdate{
	float: left;
}
.single_post .blog_info span{
	padding-right: 30px;
}
#blogpost .comment{
	float: none;
}
#blogpost .blog_textarea p{
	padding-bottom: 30px;
}
blockquote{
	padding-left: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: italic;
	border-left: none;
	padding: 0px 30px;
	margin-bottom: 30px;
}
#blogpost .blog_textarea blockquote p{
	padding: 30px 0px 30px 30px;
}
.share_icon{
	display: inline-block;
}
.share_icon ul li{
	float: left;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 15px;
}
.share_icon ul li:first-child{
	padding-left: 0px;
}
.comments{
	padding-top: 20px;
}
.comment{
	padding: 30px 0px;
}
.comment:last-child{
	border-bottom: none;
}
.comment_title h2{
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 30px;
}
.comment_avater{
	float: left;
}
.comment_text{
    display: table;
 	padding-left: 30px;
}
.comment_text h5{
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	padding-right: 15px;
}
.comment_text span{
	font-size: 14px;
}
.comment_text p{
	padding: 15px 0px;
}
.comment_box h2{
	padding: 30px 0px;
	font-size: 24px;
	font-weight: bold;
}
/* ==========================================================================================
18.		Left Sidebar
============================================================================================= */
/* ==========================================================================================
	categories
=============================================================================================*/

.sidebar_widget{
	margin-bottom: 60px;
}
.latestpt_title h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.Categories ul li{
	padding: 10px 0;
}
.Categories ul li:first-child{
	padding-top: 0;
}
.Categories ul li:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
.Categories ul li a{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
}
/* ==========================================================================================
	Latest post & Tags
============================================================================================= */

.latest_post{
	display: table;
}
.latest_post img{
	float: left;
	width: 70px;
	height: auto;
	margin-right: 15px;
	margin-bottom: 30px;
	display: table-cell;
}
.latestpt_title{
	padding-bottom: 5px;
}
.latestpt_title a{
	font-size: 14px;
	line-height: 20px;
}
.widget .blog_info{
	padding: 0;
}
.tags a{
	padding: 10px 27px;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0px 5px 5px 0px;
	display: inline-block;
}
/* ==========================================================================================
	Resarvation From
============================================================================================= */
.modal-content{
	border-radius: 0px;
	display:inline-block;
}
.modal-header{
	border-bottom: none;
}
.modal-body{
	padding: 0;
}
.modal-header {
    padding: 15px 15px 0px 0px;
}
.modal-dialog{
	width: 100%;
}
#resarvation_from .section_title{
	margin-top:30px;
}
.close{
	font-size: 32px;
	font-weight: bold;
	filter: alpha(opacity=20);
	opacity: 1;
}
label{
	text-transform: capitalize;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 10px;
}
.input-group-addon{
	border-radius: 0px;
}
select{
	width: 100%;
	padding: 7px 12px;
}
#contact-form h3{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 30px;
}
#contact-form strong{
	font-family: 'Open Sans', sans-serif;   
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
}
/*=========================================================================
19.	Scroll Top
===========================================================================*/
#scroll{
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
	z-index:9999
}
#scroll span{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover{
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
.ser_icon span{
	font-size: 25px;
	line-height: 50px;
	display: block;
}
#services,
#team,
.blog_thumb,
#review,
#contact,
.widget{
  background-color: #f9f9f9;
}